body {
  font-family: "Manrope", sans-serif;
  background-color:hsl(210, 46%, 95%);
  font-size: 13px;
  font-weight: 500;
}
.main{
  display: flex;
  background-color: white;
  border-radius: 10px;
}

.credits {
  display: flex;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(210, 4%, 10%);
}
