body {
  font-family: "Manrope", sans-serif;
  background-color:hsl(210, 46%, 95%);
  font-size: 13px;
  font-weight: 500;
}
.main{
  display: flex;
  height: 50vh;
  width: 70vw;
  margin: 100px auto;
  background-color: white;
  border-radius: 10px;
}
.text_content{
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.text h1,p{
  margin: none;
}

.image img {
  height: 100%;
  width: 100%;
  border-radius: 10px 0 0 10px;
}
.credits{
  display: flex;
}


.profile_pic img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  
}

.share button{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(210, 4%, 10%);
}
